body {
  background: linear-gradient(135deg, #fc8860 0%, #ffcc6f 100%);
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45rem;
  min-height: 20rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  overflow: hidden;
}

header {
  width: 100%;
  flex-basis: 12rem;
  background: rgba(255, 73, 36, 0.83);
  border-radius: 1rem 1rem 0 0;
  position: relative;
}
.logo {
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}

.order {
  flex: 1;
  background: white;
  border-radius: 0 0 1rem 1rem;
  padding: 4rem 1.5rem;
}
.title {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  font-weight: 700;
}
.order-item {
  display: flex;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.order-item button {
  font-size: 2rem;
  padding: 0.5rem;
  width: 50px;
  line-height: 30px;
}
.order-item .btn-delete {
  font-size: 1rem;
}

.item-name {
  flex-basis: 20rem;
}

.item-quantity input {
  margin-left: 0.5rem;
  width: 40px;
  position: relative;
  top: -5px;
  border: none;
  font-size: 1.5rem;
}
.item-price {
  margin-left: auto;
}

button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
}
.order-summary {
  padding: 1rem 1.5rem;
  margin: 1.5rem 0;
  background: #f4f4f6;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.5rem;
}
.money {
  float: right;
}
#btn-add {
  border: 1px solid gray;
  width: 18rem;
  margin-top: 1.5rem;
}
#btn-checkout {
  width: 100%;
  background: #ff6144;
  color: white;
}
